body {
  background: url(../images/background.png) repeat;
  color: #95A5A6;
}

h1 {
  color: #E74C3C;
}

.rounded {
  border-radius: 7px;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-full {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.form-control {
  color: #7F8C8D;
  font-family: "Lato", Helvetica, Meiryo,"MS PGothic",sans-serif;
}

.form-group.focus .form-control, .form-control:focus {
  border-color: #E74C3C;
}

.btn {
  outline: none !important;
}

.mask {
  -webkit-mask-image: url(../images/mask.png);
  -o-mask-image: url(../images/mask.png);
  -moz-mask-image: url(../images/mask.png);
  -ms-mask-image: url(../images/mask.png);
  mask-image: url(../images/mask.png);
}

#main {
  position: relative;
}

header {
  text-align: center;
  margin-top: 40px;
}

.emboss {
  font-weight: bolder;
  text-shadow: 1px 1px #C0392B, 
  2px 2px #C0392B, 
  3px 3px #C0392B,
  4px 4px #C0392B;
  text-transform: uppercase;
}

.logo {
  font-family: Meiryo,"MS PGothic",sans-serif;
  color: #E74C3C;
  margin: 20px 0;
  font-size: 51px;
  font-weight: bolder;
  border: 10px solid #E74C3C;
  border-radius: 75px;
  display: inline-block;
  padding: 17px;
  -webkit-transition: background-color 0.1s linear, -webkit-transform 1s ease;
  -moz-transition: all 1s linear, -moz-transform 1s ease;
  -o-transition: all 1s linear, -o-transform 1s ease;
  -ms-transition: all 1s linear, -ms-transform 1s ease;
  transition: all 1s linear, transform 1s ease;
}

.logo.flip {
  color: #FFF;
  background-color: #E74C3C;
  border: 10px solid #C0392B;
  cursor: pointer;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.wrap-draw {
  background-color: #ECF0F1;
  border-radius: 6px;
  text-align: center;
  padding: 30px 20px 15px 20px;
  margin: 15px auto;
  visibility: hidden;
}

svg {
  border-left: 1px solid #BAC1C8;
  border-top: 1px solid #BAC1C8;
  border-bottom: 1px solid #BAC1C8;
  background-color: #FEFEFE;
}

svg:last-child {
  border-right: 1px solid #BBB;
}

#slider {
  max-width: 500px;
  margin: 0 auto;
}

.ui-slider {
  background: #FFFFFF;
}

.ui-slider-handle:hover, .ui-slider-handle:focus {
  background-color: #E74C3C;
}

.ui-slider-range {
  background-color: #E74C3C;
}

.ui-slider-handle {
  background-color: #C0392B;
}

.ui-slider-segment {
  background-color: #BDC3C7;
}

.wrap-form{
  max-width: 900px;
  margin: auto;
}

.slideDown{
  animation-name: slideDown;
  -webkit-animation-name: slideDown;  

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  

  visibility: visible !important;           
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }    
  100% {
    transform: translateY(0%);
  }   
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  } 
}

.download {
  text-align: center;
}

.download p {
  margin: 24px 0;
}

.settings {
  color: #FFF;
  text-align: center;
  background-color: #E74C3C;
  margin-bottom: 0;
}

.settings .row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.settings .tile {
  background-color: #EC7063;
  min-height: 130px;
  margin-bottom: 10px;
}

.settings .col-md-4 .tile {
  min-height: 150px;
}

.settings h4, .settings h5, .settings .tile p {
  opacity: 0.8;
}

.settings input[type="color"] {
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.settings .btn-danger:focus, .settings .btn-danger:active, .settings .btn-danger.active {
  background-color: #E74C3C;
}

.settings .social-btn-wrapper {
  margin: 20px auto;
  width: 240px;
}

.settings .social-btn {
  float: left;
  margin-top: 0px;
  width: 120px;
  height: 40px;
  text-align: center;
  overflow: hidden;
}

footer {
  text-align: center;
  color: #FFF;
  background-color: inherit;
  text-transform: uppercase;
  font-size: 12px;
  padding: 20px 0;
}

footer .fui-heart {
  margin: 0 11px 0 20px;
}
